.container{
    margin-top: 15%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 50px;
    column-gap: 50px;
}

.box{
    min-height: 100px;
    max-width: 200px;
    position: relative;
}

.container_upcoming{
    margin-left: 20vw;
    background-color: aqua;
    text-align: center;
}

.container_completed{
    margin-right: 10vw;
    background-color: brown;
    text-align: center;
}

.container_result{
    margin-left: 70%;
    width: 80%;
    background-color: chocolate;
    text-align: center;
}

.position {
    margin-top: 35px;
}